subscriberservice_2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Date			Change		Author		Change Description      						
	10/04/2012		2.0.1		Anshuman	Added new operation getSPIDDetails_1
	24/08/2010     	2.0.0	    Arjun    	Added new operation getChargingCategory-->
<wsdl:definitions name="Subscriber" targetNamespace="http://soa.o2.co.uk/subscriberservice_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sud="http://soa.o2.co.uk/subscriberdata_2" xmlns:sus="http://soa.o2.co.uk/subscriberservice_2" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://soa.o2.co.uk/subscriberdata_2" schemaLocation="subscriberdata_2_0.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSubscriberProfile">
      <wsdl:part name="getSubscriberProfile" element="sud:getSubscriberProfile"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberProfileResponse">
      <wsdl:part name="getSubscriberProfileResponse" element="sud:getSubscriberProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberProfileFault">
      <wsdl:part name="getSubscriberProfileFault" element="sud:getSubscriberProfileFault"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberPaymentCategory">
      <wsdl:part name="getSubscriberPaymentCategory" element="sud:getSubscriberPaymentCategory"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberPaymentCategoryResponse">
      <wsdl:part name="getSubscriberPaymentCategoryResponse" element="sud:getSubscriberPaymentCategoryResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberPaymentCategoryFault">
      <wsdl:part name="getSubscriberPaymentCategoryFault" element="sud:getSubscriberPaymentCategoryFault"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberSegment">
      <wsdl:part name="getSubscriberSegment" element="sud:getSubscriberSegment"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberSegmentResponse">
      <wsdl:part name="getSubscriberSegmentResponse" element="sud:getSubscriberSegmentResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberSegmentFault">
      <wsdl:part name="getSubscriberSegmentFault" element="sud:getSubscriberSegmentFault"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberOperator">
      <wsdl:part name="getSubscriberOperator" element="sud:getSubscriberOperator"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberOperatorResponse">
      <wsdl:part name="getSubscriberOperatorResponse" element="sud:getSubscriberOperatorResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberOperatorFault">
      <wsdl:part name="getSubscriberOperatorFault" element="sud:getSubscriberOperatorFault"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberChannel">
      <wsdl:part name="getSubscriberChannel" element="sud:getSubscriberChannel"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberChannelResponse">
      <wsdl:part name="getSubscriberChannelResponse" element="sud:getSubscriberChannelResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberChannelFault">
      <wsdl:part name="getSubscriberChannelFault" element="sud:getSubscriberChannelFault"/>
   </wsdl:message>
   <wsdl:message name="getBillingSystem">
      <wsdl:part name="getBillingSystem" element="sud:getBillingSystem"/>
   </wsdl:message>
   <wsdl:message name="getBillingSystemResponse">
      <wsdl:part name="getBillingSystemResponse" element="sud:getBillingSystemResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillingSystemFault">
      <wsdl:part name="getBillingSystemFault" element="sud:getBillingSystemFault"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAndBillingSystem">
      <wsdl:part name="getSubscriberAndBillingSystem" element="sud:getSubscriberAndBillingSystem"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAndBillingSystemResponse">
      <wsdl:part name="getSubscriberAndBillingSystemResponse" element="sud:getSubscriberAndBillingSystemResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAndBillingSystemFault">
      <wsdl:part name="getSubscriberAndBillingSystemFault" element="sud:getSubscriberAndBillingSystemFault"/>
   </wsdl:message>
   <wsdl:message name="getBillProfile">
      <wsdl:part name="getBillProfile" element="sud:getBillProfile"/>
   </wsdl:message>
   <wsdl:message name="getBillProfileResponse">
      <wsdl:part name="getBillProfileResponse" element="sud:getBillProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillProfileFault">
      <wsdl:part name="getBillProfileFault" element="sud:getBillProfileFault"/>
   </wsdl:message>
   <wsdl:message name="getChargingCategory">
      <wsdl:part name="getChargingCategory" element="sud:getChargingCategory"/>
   </wsdl:message>
   <wsdl:message name="getChargingCategoryResponse">
      <wsdl:part name="getChargingCategoryResponse" element="sud:getChargingCategoryResponse"/>
   </wsdl:message>
   <wsdl:message name="getChargingCategoryFault">
      <wsdl:part name="getChargingCategoryFault" element="sud:getChargingCategoryFault"/>
   </wsdl:message>
   <wsdl:message name="getSPIDDetails_1">
      <wsdl:part name="getSPIDDetails_1" element="sud:getSPIDDetails_1"/>
   </wsdl:message>
   <wsdl:message name="getSPIDDetails_1Response">
      <wsdl:part name="getSPIDDetails_1Response" element="sud:getSPIDDetails_1Response"/>
   </wsdl:message>
   <wsdl:message name="getSPIDDetails_1Fault">
      <wsdl:part name="getSPIDDetails_1Fault" element="sud:getSPIDDetails_1Fault"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberPort">
      <wsdl:operation name="getSubscriberProfile">
         <wsdl:input name="getSubscriberProfile" message="sus:getSubscriberProfile"/>
         <wsdl:output name="getSubscriberProfileResponse" message="sus:getSubscriberProfileResponse"/>
         <wsdl:fault name="getSubscriberProfileFault" message="sus:getSubscriberProfileFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberPaymentCategory">
         <wsdl:input name="getSubscriberPaymentCategory" message="sus:getSubscriberPaymentCategory"/>
         <wsdl:output name="getSubscriberPaymentCategoryResponse" message="sus:getSubscriberPaymentCategoryResponse"/>
         <wsdl:fault name="getSubscriberPaymentCategoryFault" message="sus:getSubscriberPaymentCategoryFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberSegment">
         <wsdl:input name="getSubscriberSegment" message="sus:getSubscriberSegment"/>
         <wsdl:output name="getSubscriberSegmentResponse" message="sus:getSubscriberSegmentResponse"/>
         <wsdl:fault name="getSubscriberSegmentFault" message="sus:getSubscriberSegmentFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberOperator">
         <wsdl:input name="getSubscriberOperator" message="sus:getSubscriberOperator"/>
         <wsdl:output name="getSubscriberOperatorResponse" message="sus:getSubscriberOperatorResponse"/>
         <wsdl:fault name="getSubscriberOperatorFault" message="sus:getSubscriberOperatorFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberChannel">
         <wsdl:input name="getSubscriberChannel" message="sus:getSubscriberChannel"/>
         <wsdl:output name="getSubscriberChannelResponse" message="sus:getSubscriberChannelResponse"/>
         <wsdl:fault name="getSubscriberChannelFault" message="sus:getSubscriberChannelFault"/>
      </wsdl:operation>
      <wsdl:operation name="getBillingSystem">
         <wsdl:input name="getBillingSystem" message="sus:getBillingSystem"/>
         <wsdl:output name="getBillingSystemResponse" message="sus:getBillingSystemResponse"/>
         <wsdl:fault name="getBillingSystemFault" message="sus:getBillingSystemFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberAndBillingSystem">
         <wsdl:input name="getSubscriberAndBillingSystem" message="sus:getSubscriberAndBillingSystem"/>
         <wsdl:output name="getSubscriberAndBillingSystemResponse" message="sus:getSubscriberAndBillingSystemResponse"/>
         <wsdl:fault name="getSubscriberAndBillingSystemFault" message="sus:getSubscriberAndBillingSystemFault"/>
      </wsdl:operation>
      <wsdl:operation name="getBillProfile">
         <wsdl:input name="getBillProfile" message="sus:getBillProfile"/>
         <wsdl:output name="getBillProfileResponse" message="sus:getBillProfileResponse"/>
         <wsdl:fault name="getBillProfileFault" message="sus:getBillProfileFault"/>
      </wsdl:operation>
      <wsdl:operation name="getChargingCategory">
         <wsdl:input name="getChargingCategory" message="sus:getChargingCategory"/>
         <wsdl:output name="getChargingCategoryResponse" message="sus:getChargingCategoryResponse"/>
         <wsdl:fault name="getChargingCategoryFault" message="sus:getChargingCategoryFault"/>
      </wsdl:operation>
      <wsdl:operation name="getSPIDDetails_1">
         <wsdl:input name="getSPIDDetails_1" message="sus:getSPIDDetails_1"/>
         <wsdl:output name="getSPIDDetails_1Response" message="sus:getSPIDDetails_1Response"/>
         <wsdl:fault name="getSPIDDetails_1Fault" message="sus:getSPIDDetails_1Fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberBinding" type="sus:SubscriberPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSubscriberProfile">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberProfile">
            <soap:body parts="getSubscriberProfile" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberProfileResponse">
            <soap:body parts="getSubscriberProfileResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberProfileFault">
            <soap:fault name="getSubscriberProfileFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberSegment">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberSegment">
            <soap:body parts="getSubscriberSegment" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberSegmentResponse">
            <soap:body parts="getSubscriberSegmentResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberSegmentFault">
            <soap:fault name="getSubscriberSegmentFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberPaymentCategory">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberPaymentCategory">
            <soap:body parts="getSubscriberPaymentCategory" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberPaymentCategoryResponse">
            <soap:body parts="getSubscriberPaymentCategoryResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberPaymentCategoryFault">
            <soap:fault name="getSubscriberPaymentCategoryFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberOperator">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberOperator">
            <soap:body parts="getSubscriberOperator" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberOperatorResponse">
            <soap:body parts="getSubscriberOperatorResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberOperatorFault">
            <soap:fault name="getSubscriberOperatorFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberChannel">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberChannel">
            <soap:body parts="getSubscriberChannel" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberChannelResponse">
            <soap:body parts="getSubscriberChannelResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberChannelFault">
            <soap:fault name="getSubscriberChannelFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillingSystem">
         <soap:operation soapAction=""/>
         <wsdl:input name="getBillingSystem">
            <soap:body parts="getBillingSystem" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getBillingSystemResponse">
            <soap:body parts="getBillingSystemResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getBillingSystemFault">
            <soap:fault name="getBillingSystemFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberAndBillingSystem">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSubscriberAndBillingSystem">
            <soap:body parts="getSubscriberAndBillingSystem" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSubscriberAndBillingSystemResponse">
            <soap:body parts="getSubscriberAndBillingSystemResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSubscriberAndBillingSystemFault">
            <soap:fault name="getSubscriberAndBillingSystemFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillProfile">
         <soap:operation soapAction=""/>
         <wsdl:input name="getBillProfile">
            <soap:body parts="getBillProfile" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getBillProfileResponse">
            <soap:body parts="getBillProfileResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getBillProfileFault">
            <soap:fault name="getBillProfileFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getChargingCategory">
         <soap:operation soapAction=""/>
         <wsdl:input name="getChargingCategory">
            <soap:body parts="getChargingCategory" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getChargingCategoryResponse">
            <soap:body parts="getChargingCategoryResponse" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getChargingCategoryFault">
            <soap:fault name="getChargingCategoryFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSPIDDetails_1">
         <soap:operation soapAction=""/>
         <wsdl:input name="getSPIDDetails_1">
            <soap:body parts="getSPIDDetails_1" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSPIDDetails_1Response">
            <soap:body parts="getSPIDDetails_1Response" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="getSPIDDetails_1Fault">
            <soap:fault name="getSPIDDetails_1Fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberService">
      <wsdl:port name="SubscriberPort" binding="sus:SubscriberBinding">
         <soap:address location="https://sdpapi.ref.o2.co.uk/services/Subscriber_2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>